body {
    background-color:lightblue;
}

h1 {
    font-family: Cooper;
    text-align: center;
    font-size: 300%;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI';
}

li a:hover {
    background-color: darkgray;
}

.SchoolInfo {
    background-color: white;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 10px;
    padding: 20px;
}

.Clubs {
    background-color: white;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    margin: 10px;
    padding: 20px;
}

ol{
    list-style-type: circle;
    color: black;
    font-family: Calibri;
    text-align: center;
    color: black;
}

h2{
    color: black;
    text-decoration: underline;
    font-family: 'Segoe UI';
    text-align: center;
}

p{
    color: black;
    font-family: Calibri;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    height: 25%;
    width: 30%;
}
