body {
    background-color:lightcoral;
}

h1 {
    font-family: Cooper;
    text-align: center;
    font-size: 300%;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI';
}

li a:hover {
    background-color: black;
}