body{
    background-color: lightsteelblue;
}

h1 {
    font-family: Cooper;
    text-align: center;
    font-size: 300%;
    color: black;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbar li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI';
}

li a:hover {
    background-color: darkgray;
}

.skills {
    background-color: white;
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    padding: 20px;
}
.SkillList{
    list-style-type: circle;
    color: black;
    font-family: Calibri;
    color: black;
    height: auto;
}

h2 {
    color: black;
    text-decoration: underline;
    font-family: 'Segoe UI';
    text-align: center;
}