body {
    background-color: lightpink;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: black;
    font-family: Cooper;
}

h2 {
    font-family: 'Lucida Calligraphy';
}

.ImageBox {
    background-color: black;
    width: 22%;
    height: 22%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 10px;
}

img {
    margin: 5%;
    height: 90%;
    width: 90%;
}

p {
    font-family: 'Comic Sans MS';
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI';

}

li a:hover {
    background-color: darkgray;
}
